/* Fix for small devices */
@media (max-width:768px) {
    #main.container {
        padding:0 1px;
    }
    #header {
        margin:0 1em;
    }
}

/* Header */
#header {
    padding-bottom: 1.5em;
}
#header h1 {
    margin: 0 inherit;
}
#input-search-container {
    margin-top: 34px;
}
.tt-header {
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.tt-item {
    padding-left: 2em;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer div.container {
    height: 60px;
    background-color: #f5f5f5;
}
.footer p {
    margin-top: 20px;
}
.footer img {
    height: 50px;
    margin-top: 5px;
}
